.footer {
  background-color: #161616;
  padding-top: 50px;
  padding-bottom: 50px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
  }

  &__inner {
    margin-right: 40%;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.5px;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &-item {
      width: 30%;
    }
  }

  &__download {
    display: flex;
    align-items: center;

    &-icon {
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 25.5px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.5px;
    margin-bottom: 25px;
  }

  &__chapter {
    &-link {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.5px;
    }
  }

  &__messengers-list {
    column-count: 2;
  }

  &__middle {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      border: 1px solid white;
      border-radius: 12px;
      color: rgb(163, 159, 159);
      background-color: rgb(74, 73, 73);
      font-size: 16px;
      font-weight: 400;
      line-height: 21.5px;
      text-align: center;
      padding: 5px 17px;
      margin-bottom: 15px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__bottom {
    background-color: #1f1f1f;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-inner {
      display: flex;
      align-items: center;
    }

    &-text {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.5px;
    }

    &-copy {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.5px;
    }
  }
}
