.dashboard__background {
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    background: #000000C2;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    &--active {
        opacity: 1;
        pointer-events: all;

    }
}

.dashboard__modal {
    opacity: 0;
    pointer-events: none;
    max-width: 660px;
    width: 92%;
    border-radius: 11px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    transform: translateY(-100%);
    background: linear-gradient(0deg, #143137bf 0%, #257b8ed4 100%);
    transition: all 0.3s ease-in-out;

    &--active {
        opacity: 1;
        transform: translateY(15%);
        pointer-events: all;
    }


    &-top {
        padding-left: 40px;
        padding-right: 40px;
    }

    &-title {
        margin-bottom: 35px;
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
    }

    &-label {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
        margin-bottom: 15px;
    }

    &-input {
        margin-top: 5px;
        color: #fff;
        text-align: left;
        background-color: #0000;
        border: 1px solid #21d4fd;
        border-radius: 11px;
        margin-top: 5px;
        padding: 15px 28px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        transition: all 0.3s ease-in-out;

        &::placeholder {
            color: #fff;
            text-align: left;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }

        &:hover {
            -webkit-box-shadow: 10px -10px 45px 10px #21D4FD;
            -moz-box-shadow: 10px -10px 45px 10px #21D4FD;
            box-shadow: 10px -10px 45px 10px #21D4FD;
        }
    }

    &-middle {
        border-bottom: 1px solid #21D4FD;
        display: grid;
        gap: 11px;
        padding: 0 40px 35px 40px;
        margin-bottom: 35px;
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));

        .dashboard__modal-label {
            margin-bottom: 0;
        }

        .dashboard__modal-input {
            background-color: #01333F;
        }
    }

    &-inner {

        &__title {
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #FFFFFF;
        }

        &__btn {
            width: 100%;
            color: #21D4FD;
            text-align: center;
            background-color: #0000;
            border: 1px solid #21D4FD;
            border-radius: 11px;
            margin-top: 5px;
            padding: 15px 28px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }
    }

    &-btns {
        display: grid;
        gap: 11px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        padding-left: 40px;
        padding-right: 40px;
    }

    &-btn--ok {
        max-height: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 15.5px;
        text-align: center;
        background: linear-gradient(90deg, #E40ECF 0%, #21D4FD 100%);
    }

    &-btn--help {
        max-height: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #E40ECF;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 15.5px;
        text-align: center;
        background: linear-gradient(280.98deg, #21D4FD 42.54%, #E40ECF 48.07%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    &-btn--cancel {
        max-height: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 15.5px;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }

    &-help {
        opacity: 0;
        pointer-events: none;
        max-width: 660px;
        width: 75%;
        border-radius: 11px;
        padding-top: 40px;
        padding-bottom: 40px;
        position: absolute;
        left: 0;
        top: 10%;
        right: 0;
        transform: scale(0);
        margin: 0 auto;
        z-index: 10;
        background: linear-gradient(0deg, #143137bf 0%, #257b8ed4 100%);
        transition: all 0.3s ease-in-out;

        &--active {
            opacity: 1;
            transform: scale(1);
            pointer-events: all;
        }

        &__top {
            margin-bottom: 35px;
        }

        &__textarea {
            resize: none;
            min-height: 208px;
            margin-top: 5px;
            color: #fff;
            text-align: left;
            background-color: #0000;
            border: 1px solid #21d4fd;
            border-radius: 11px;
            margin-top: 5px;
            padding: 15px 28px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;

            &::placeholder {
                color: #fff;
                text-align: left;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
            }
        }

        &__btns {
            padding-left: 40px;
            padding-right: 40px;
        }

        &__btn {
            &--send {
                margin-right: 12px;
                max-height: 60px;
                padding: 15px 50px;
                border-radius: 8px;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 700;
                line-height: 15.5px;
                text-align: center;
                background: linear-gradient(90deg, #E40ECF 0%, #21D4FD 100%);
            }

            &--cancel {
                max-height: 60px;
                padding: 15px 50px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 400;
                line-height: 15.5px;
                text-align: center;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
            }
        }
    }

    &-send {
        opacity: 0;
        pointer-events: none;
        max-width: 506px;
        display: flex;
        justify-content: center;
        width: 75%;
        border-radius: 11px;
        padding-top: 40px;
        padding-bottom: 40px;
        position: absolute;
        left: 0;
        top: 10%;
        right: 0;
        transform: scale(0);
        margin: 0 auto;
        z-index: 10;
        background: linear-gradient(0deg, #143137bf 0%, #257b8ed4 100%);
        transition: all 0.3s ease-in-out;

        &--active {
            opacity: 1;
            transform: scale(1);
            pointer-events: all;
        }

        &--circle {
            margin-bottom: 30px;
        }

        &--check-mark {
            position: absolute;
            transform: translate(-50%, 50%);
            left: 50%;
            bottom: 62%;
        }

        &--close {
            position: absolute;
            top: 12px;
            right: 12px;
        }

        &__title {
            color: #FFFFFF;
            font-size: 52px;
            font-weight: 700;
            line-height: 55px;
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    .dashboard__modal {
        width: 95%;
        padding-top: 30px;
        padding-bottom: 30px;

        &-title {
            padding-left: 17px;
            padding-right: 17px;
        }

        &-top {
            padding-left: 17px;
            padding-right: 17px;
        }

        &-middle {
            padding-left: 17px;
            padding-right: 17px;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }

        &-btns {
            padding-left: 17px;
            padding-right: 17px;
        }

        &-help {
            width: 95%;

            &__btns {
                display: flex;
                padding-left: 17px;
                padding-right: 17px;
            }

            &__btn {
                &--cancel {
                    padding-left: 36px;
                    padding-right: 36px;
                }

                &--send {
                    padding-left: 36px;
                    padding-right: 36px;
                }
            }
        }

        &-send {
            width: 95%;
        }
    }
}