.dashboard__background {
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  background: #000000c2;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;

  &--active {
    opacity: 1;
    pointer-events: all;
  }
}

.dashboard__modal {
  opacity: 0;
  pointer-events: none;
  max-width: 660px;
  width: 92%;
  border-radius: 11px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateY(-100%);
  background: linear-gradient(0deg, #143137bf 0%, #257b8ed4 100%);
  transition: all 0.3s ease-in-out;

  &--active {
    opacity: 1;
    transform: translateY(5%);
    pointer-events: all;
  }

  &-top {
    padding-left: 40px;
    padding-right: 40px;
  }

  &-title {
    margin-bottom: 35px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
  }

  &-label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
  }

  &-input {
    margin-top: 5px;
    color: #fff;
    text-align: left;
    background-color: #0000;
    border: 1px solid #21d4fd;
    border-radius: 11px;
    margin-top: 5px;
    padding: 15px 28px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      color: #fff;
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

    &:hover {
      -webkit-box-shadow: 10px -10px 45px 10px #21d4fd;
      -moz-box-shadow: 10px -10px 45px 10px #21d4fd;
      box-shadow: 10px -10px 45px 10px #21d4fd;
    }
  }

  &-middle {
    border-bottom: 1px solid #21d4fd;
    display: grid;
    gap: 11px;
    padding: 0 40px 35px 40px;
    margin-bottom: 35px;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));

    .dashboard__modal-label {
      margin-bottom: 0;
    }

    .dashboard__modal-input {
      background-color: #01333f;
    }
  }

  &-inner {
    &__title {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #ffffff;
    }

    &__btn {
      width: 100%;
      color: #21d4fd;
      text-align: center;
      background-color: #0000;
      border: 1px solid #21d4fd;
      border-radius: 11px;
      margin-top: 5px;
      padding: 15px 28px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  &-btns {
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding-left: 40px;
    padding-right: 40px;
  }

  &-btn {
    &--ok {
      color: transparent;
      min-height: 57px;
      padding: 17px 50px;
      border-radius: 8px;
      font-size: 18px;
      position: relative;
      font-weight: 700;
      line-height: 15.5px;
      text-align: center;
      background: linear-gradient(
        90deg,
        #e40ecf19 0%,
        rgba(33, 213, 253, 0.182)
      );

      &::after {
        content: "Save settings";
        font-size: 15px;
        background: linear-gradient(90deg, #e40ecf 0%, #21d4fd 100%);
        font-weight: 700;
        border-radius: 7px;
        line-height: 15.5px;
        text-align: center;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          transform: translate(-5%, -25%);
        }
      }
    }

    &--help {
      color: transparent;
      min-height: 57px;
      padding: 17px 50px;
      border-radius: 8px;
      font-size: 18px;
      position: relative;
      font-weight: 700;
      line-height: 15.5px;
      text-align: center;
      border: 1px solid #e40ecf30;
      background: transparent;

      &::after {
        content: "Support";
        font-size: 18px;
        background: transparent;
        font-weight: 700;

        border: 1px solid #e40ecf;
        border-radius: 7px;
        line-height: 15.5px;
        text-align: center;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          transform: translate(-5%, -25%);
        }
      }
    }

    &--cancel {
      position: relative;
      color: transparent;
      min-height: 57px;

      border-radius: 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 15.5px;
      text-align: center;
      color: transparent;
      border: 1px solid #ffffff1d;

      &::after {
        content: "Cancel";
        font-size: 15px;
        background: transparent;
        font-weight: 700;

        border-radius: 7px;
        line-height: 15.5px;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid #ffffff;
        bottom: 0;
        left: 0;
        transform: translate(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          transform: translate(-5%, -25%);
        }
      }
    }
  }

  &-help {
    opacity: 0;
    pointer-events: none;
    max-width: 660px;
    width: 75%;
    border-radius: 11px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    left: 0;
    top: 10%;
    right: 0;
    transform: scale(0);
    margin: 0 auto;
    z-index: 10;
    background: linear-gradient(0deg, #143137bf 0%, #257b8ed4 100%);
    transition: all 0.3s ease-in-out;

    &--active {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }

    &__top {
      margin-bottom: 35px;
    }

    &__textarea {
      resize: none;
      min-height: 208px;
      margin-top: 5px;
      color: #fff;
      text-align: left;
      background-color: #0000;
      border: 1px solid #21d4fd;
      border-radius: 11px;
      margin-top: 5px;
      padding: 15px 28px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;

      &::placeholder {
        color: #fff;
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }
    }

    &__btns {
      padding-left: 40px;
      padding-right: 40px;
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    &__btn {
      &--send {
        color: transparent;
        min-height: 60px;

        padding: 17px 50px;
        border-radius: 8px;
        font-size: 18px;
        position: relative;
        font-weight: 700;
        line-height: 15.5px;
        text-align: center;
        background: linear-gradient(
          90deg,
          #e40ecf19 0%,
          rgba(33, 213, 253, 0.182)
        );

        &::after {
          content: "Send";
          font-size: 15px;
          background: linear-gradient(90deg, #e40ecf 0%, #21d4fd 100%);
          font-weight: 700;

          border-radius: 7px;
          line-height: 15.5px;
          text-align: center;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translate(0);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          &::after {
            transform: translate(-5%, -25%);
          }
        }
      }

      &--cancel {
        position: relative;
        color: transparent;
        min-height: 60px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 15.5px;
        text-align: center;
        color: transparent;
        border: 1px solid #ffffff1d;

        &::after {
          content: "Cancel";
          font-size: 15px;
          background: transparent;
          font-weight: 700;

          border-radius: 7px;
          line-height: 15.5px;
          text-align: center;
          padding-left: 35px;
          padding-right: 35px;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          border: 1px solid #ffffff;
          bottom: 0;
          left: 0;
          transform: translate(0);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          &::after {
            transform: translate(-5%, -25%);
          }
        }
      }
    }
  }

  &-send {
    opacity: 0;
    pointer-events: none;
    max-width: 506px;
    display: flex;
    justify-content: center;
    width: 75%;
    border-radius: 11px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    left: 0;
    top: 10%;
    right: 0;
    transform: scale(0);
    margin: 0 auto;
    z-index: 10;
    background: linear-gradient(0deg, #143137bf 0%, #257b8ed4 100%);
    transition: all 0.3s ease-in-out;

    &--active {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }

    &--circle {
      margin-bottom: 30px;
    }

    &--check-mark {
      position: absolute;
      transform: translate(-50%, 50%);
      left: 50%;
      bottom: 62%;
    }

    &--close {
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &__title {
      color: #ffffff;
      font-size: 52px;
      font-weight: 700;
      line-height: 55px;
      text-align: center;
    }
  }
}

@media (max-width: 576px) {
  .dashboard__modal {
    width: 95%;
    padding-top: 30px;
    padding-bottom: 30px;

    &-title {
      padding-left: 17px;
      padding-right: 17px;
    }

    &-top {
      padding-left: 17px;
      padding-right: 17px;
    }

    &-middle {
      padding-left: 17px;
      padding-right: 17px;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    &-btns {
      padding-left: 17px;
      padding-right: 17px;
    }

    &-help {
      width: 95%;

      &__btns {
        padding-left: 17px;
        padding-right: 17px;
      }

      &__btn {
        &--cancel {
          padding-left: 36px;
          padding-right: 36px;
        }

        &--send {
          padding-left: 36px;
          padding-right: 36px;
        }
      }
    }

    &-send {
      width: 95%;
    }
  }
}
